
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to left top, #282628, #484F4E) ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.weather-app {
  background: linear-gradient(to left top, #ccc, #fff) ;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  border: none;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 19px;
}

.weather-app:hover {
  transform: scale(1.09);
}

button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
#location {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-size: 16px;
  border-radius: 16px;
}

#location:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

#humidityBtn, #windSpeedBtn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#humidityBtn:hover, #windSpeedBtn:hover {
  background-color: #2980b9;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#humidityIcon, #windSpeedIcon {
  font-size: 30px;
  color: #3498db;
}

#weatherDisplay {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#weatherDisplay.active {
  opacity: 1;
  transform: translateY(0);
}
#cloudIcon {
  color: #3498db; // Default color
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#humidity, #windSpeed {
  line-height: 0; /* Adjust as needed */
}

#humidity {
  text-align: right;
}

#windSpeed {
  text-align: left;
}

#currentDate {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}



